# Sphinx build folder
build

# Virtual environment
*.venv

# Fabric
macro/
runs/

*.json
*.png
*.svg

# Python
*.egg-info/
__pycache__/

# LibreOffice
.~lock*

# User designs
*.json
*_out.json
*.fasm
*.hex
*_log.txt
*.bit
*.csv
*.vh
*.vhd
*.dot

# cocotb
sim_build/
*.gtkw
